header.header
    .header-wrapper
        .header-column
            a.wetube-renderer(href=routes.home)
                .wetube-logo
                    i.fab.fa-youtube
                .wetube-path
                    |WeTube
        .header-column
            form.search-form(action=routes.search, method="get")
                //- TODO: represents term in input placeholder
                input(type="text", name="word", placeholder="Search")
                button
                    i.fas.fa-search
        .header-column
            a.service-login(href=routes.signin)
                button
                    i.fas.fa-user-circle
                    span SIGN IN
            //- TODO: represents videoDetail() if user logged
            