extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                videoFile:item.fileUrl,
                id:item._id,
                title:item.title,
                views:item.views,
                createdAt:item.createdAt,
                description:item.description
            })