extends layouts/main

block content
    .user-detail
        .user-profile
            .avatar-container
                .avatar-title
                    h4 Avatar
                .avatar-img
                    .avatar-before
                        img(src=user.avatarUrl)
                        //- if userId
                        //-     img(src=videos[0].creator.avatarUrl)
                    .avatar-after
                        //- Implements add postUploadAvatar function using AJAX and API
                        //- if user.id == videos[0].creator.id
                        //-     form.user-avatar(action=routes.userDetail(user.id), method="post", enctype="multipart/form-data")
                        //-         input(type="file", name="avatarFile", placeholder="Avatar", accept="imgage/*")
                        //-         button Save
            //- Implements change name, password, and delete user by AJAX
            //- if user == videos[0].creator
            //-     .user-name
            //-     .user-password
            //-     .user-delete
            