extends layouts/main
include mixins/editVideo

block content
    .video-detail#jsVideoDetail
        each item in videos
            +editVideo({
                videoFile:item.fileUrl,
                id:item.id,
                title:item.title,
                views:item.views,
                createdAt:item.createdAt,
                description:item.description,
                creator:item.creator
            })
