.userVideo {
  display: flex;
  flex-direction: column;
  .userVideo-column:first-child video {
    margin-bottom: 3%;
    width: 285.85px;
    height: 160.788px;
    object-fit: cover;
  }
  .userVideo-column:last-child {
    margin-bottom: 10%;
    display: flex;
  }
  .video-info-title-link {
    margin-bottom: 10px;
  }
  .video-info-views-createdAt {
    display: flex;
    align-items: center;
  }
  .video-info-views-createdAt-start {
    font-size: 7px;
    margin: 0px 5px;
  }
}
