.userVideo {
  display: flex;
  margin-bottom: 1%;
  .user-video-info {
    display: flex;
    margin-left: 5%;
    align-items: center;
  }
  .wetube-link video {
    width: 270px;
    height: 100%;
    object-fit: cover;
  }
  .video-edit-title-form input,
  .video-edit-description-form input {
    margin: 5% 0px;
  }
}

// .userVideo {
//   display: flex;
//   .userVideo__column:first-child video {
//     width: 240px;
//     height: 140px;
//     object-fit: cover;
//     margin-bottom: 3%;
//   }
// }
