.videoContent {
  display: flex;
  flex-direction: column;
  .videoContent__column:first-child video {
    margin-bottom: 3%;
    width: 285.85px;
    height: 160.788px;
    object-fit: cover;
  }
  .videoContent__column:last-child {
    margin-bottom: 10%;
    display: flex;
  }
  .video-creator-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .avatar-img {
    border-radius: 50%;
    width: 80%;
    max-width: 40px;
    height: 80%;
    max-height: 40px;
  }
  .video-info-title-link {
    margin-bottom: 10px;
  }
  .video-info-views-createdAt {
    display: flex;
    align-items: center;
  }
  .video-info-views-createdAt-start {
    font-size: 7px;
    margin: 0px 5px;
  }
}
