extends layouts/main

block content
    .user-detail#jsUserDetail
        .avatar-container
            .avatar-title
                h4 Avatar
            .avatar
                img.avatar-img(src=user.avatarUrl)
                form.avatar-form(action=routes.userDetail(user.id), method="post", enctype="multipart/form-data")
                    input(type="file", name="avatarFile", placeholder="Avatar", accept="image/*")
                    button Update Avatar
        .user-password-container
            .user-password-title
                h4 Change Password
            .password
                form.password-form#jsPasswordForm(action=routes.userDetail(user.id), method="post")
                    input(type="password", name="oldPassword", placeholder="Old Password")
                    input(type="password", name="newPassword", placeholder="New Password")
                    input(type="password", name="confirmPassword", placeholder="Confirm Password")
                    button#jsChangePasswordBtn Change password
            