.user-detail {
  gap: 1%;
  padding-top: 0.5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .avatar-container,
  .user-password-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
  }
  .avatar-title,
  .user-password-title {
    position: absolute;
    background-color: white;
    top: -10px;
    left: 10px;
    font-weight: 600;
  }
  .avatar {
    display: flex;
    align-items: center;
    .avatar-img {
      display: flex;
      width: 100px;
      height: 100px;
      margin-right: 20px;
      border-radius: 50%;
    }
  }
  .password {
    display: flex;
    justify-content: center;
  }
  .password-form {
    display: flex;
    align-self: center;
    margin-top: 30px;
    & input,
    & button {
      padding: 10px;
    }
  }
}
