.watchVideo-container {
  padding: 5px 10px;
  .watchVideo-video {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .watchVideo-watch-info {
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      align-items: center;
    }
    #star {
      font-size: 10px;
      margin: 0px 10px;
    }
  }
  .watchVideo-comments {
    display: flex;
    flex-direction: column;
    .watchVideo-comments-length {
      margin-bottom: 3%;
      #comment-s {
        margin-left: 0.1%;
      }
    }
    .watchVideo-comments-info {
      display: flex;
      flex-direction: column;
      .watchVideo-comments-add {
        display: flex;
        align-items: center;
        .avatar-img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 20px;
        }
        & div:last-child {
          width: 100%;
          input {
            width: 80%;
            padding: 10px;
          }
          button {
            width: 10%;
            padding: 10px;
          }
        }
      }
    }
    .watchVideo-comment-info {
      display: flex;
      align-items: center;
      margin-top: 20px;
      img {
        width: 48px;
        height: 48px;
        margin-right: 20px;
      }
    }
  }
  .watchVideo-description {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    .watchVideo-description-info {
      display: flex;
      margin-bottom: 2%;
      padding: 2% 0px;
      border-top: 1px solid #00000080;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      .user-avatar-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .watchVideo-description-description {
        margin-top: 10px;
      }
    }
  }
}
